.Container{
	background-color:var(--secondary-color);
	color:var(--primary-color);
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
    height: fit-content;
    align-items: center;
};

img{
	margin:5px;
}

svg{
	margin:5px;
}

.MediaIcons{
    display: flex;
    justify-content: space-evenly;
}

.LeftColumn{
display:flex;
flex: 0 0 auto;
flex-direction:column;
	margin: 1em;
};

.RightColumn{
	flex:0.7;
	margin: 3em;
    font-size: x-large;
};


.secondaryContent{
	display:flex;
	flex-direction:column;
}


.secondaryContent span{
	width:300px;
	margin:10px;
}


