.Container{
	background-color:var(--secondary-color);
	color:var(--primary-color);
	display:flex;
	flex-direction:row;
	height:2000px;
};

img{
	margin:5px;
}

svg{
	margin:5px;
}

.MediaIcons{
    display: flex;
    justify-content: space-evenly;
}

.LeftColumn{
display:flex;
flex: 0 0 auto;
flex-direction:column;
};

.RightColumn{
	flex:0.7;
};

