.Container{
	display:flex;
	flex-direction:column;
    align-items: center;
    justify-content: flex-start;
    color: var(--primary-color);
	padding:0 15vw 0 15vw;
    height: fit-content;
  	background-color:var(--secondary-color);
};

.Container form{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
};

.Control{
    display:flex;
    flex-direction: row;
    justify-content: center;

};

.Control label {
    width:150px;
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
    min-height: 60px;

};

.Control input {
        flex:0.6;
	    width: 50vw;
	    height: 25px;
        border: 2px solid var(--primary-color);
        border-radius: 10px;
};


input[type="submit"] {
    -webkit-appearance: button;
    height: 50px;
    width: 150px;
    margin: 20px 0 20px 25vw;
    color:var(--secondary-color);
    background-color: var(--primary-color);
}
.GoToRegister{
	margin:10px;
}

