.Blog{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
    align-items: center;
    justify-content: flex-start;
    color: var(--primary-color);
	padding:0 5vw 10vh 5vw;
    height: fit-content;
  	background-color:var(--secondary-color);
}
