.Popup{
width: 200px;
    position: sticky;
    top: 90%;
    left: 80%;

};


.margin{
    margin: spacing(1);
    background-color: var(--secondary-color);
  };

.extendedIcon{
    marginRight: spacing(1);
  };

.rotatedIcon{
transform: rotate(90deg);
  }

.Expanded{
    right: 0;
    width: 250px;
    height: 550px;
    position: fixed;
    bottom: 0;
    background-color: var(--primary-color);
   	padding:15px;
	color:var(--secondary-color);
    border-radius: 25px;
};


