

.Container{
	display:flex;
	flex-direction:column;
    align-items: center;
    color: var(--primary-color);
    padding:5vh 0 0 0;
    height: fit-content;
  	background-color:var(--secondary-color);
};



form{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 10px;
};

.Control{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin:0em 1em 0em 1em;

};

label {
    width: 6em;
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
    min-height: 60px;

};



.Control input {
        flex:0.6;
        min-width: 50vw;
	    height: 25px;
        border: 2px solid var(--primary-color);
        border-radius: 10px;
};

textarea{
    flex:0.6;
    height: 150px;
    min-width: 50vw;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}


.SubmitControl{
    display:flex;
    flex-direction: row;
    align-self: center;
    margin:1.5em 1em 0em 1em;
}

.SubmitControl input[type="submit"] {
    margin:2em;
    -webkit-appearance: button;
    height: 2em;
    width: 10em;
    color:var(--secondary-color);
    background-color: var(--primary-color);
}


.OtherContacts{
	display: flex;
    flex: 0 0 auto;
}
