.Footer {
  display: flex;
  flex-direction: row;
  heigth:50px;
  background-color:var(--primary-color);
  color:var(--secondary-color);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
};