
@font-face {
    font-family:"Orbitron";
  }

    .Header {
  background-color: var(--primary-color);
  color:var(--secondary-color);
  text-align: center;
  padding: 1vh 20vw 1vh 20vw;
  font-size: 1.5em;
    };


    .Header p{
    margin:0px;
    font-family:Orbitron;
    letter-spacing: 5px;
    }



    @media screen and (min-width: 768px) {

    .Header {
  font-size: 3em;
    };

}

    @media screen and (max-width: 768px) {

    .Header {
  font-size: 1.5em;
    };

}

