
@font-face {
    font-family:"Orbitron";
  }

    .Header {
  background-color: var(--primary-color);
  color:var(--secondary-color);
  text-align: center;
  padding: 1vh 20vw 1vh 20vw;
  font-size:3vw;
    };


    .Header p{
    margin:0px;
    font-family:Orbitron;
    letter-spacing: 5px;
    }

