    html {
  --primary-color: #fff;
  --secondary-color: #24314a;
  --terciary-color:white;
  --link-color:#e8db3b;
}


html[data-theme="dark"] {
  --primary-color: #24314a;
  --secondary-color: #fff;
    --terciary-color:white;
    --link-color:#f1a214;
}

*{
	margin:0;
	padding: 0;
	box-sizing:border-box;
	font-family:Orbitron;
}



.Layout{
	display:flex;
	flex-direction:column;
	min-height:calc(100vh - 60px);
	background-color:var(--primary-color);
}

.MainContainer{
	justify-content:center;
	min-height: calc(100vh - 60px);
	margin-bottom: -50px;
	background-color:var(--secondary-color);
}

h2{
	color:var(--primary-color);
}

a{
	color:var(--link-color);
	font-weight: 600;
}