.TopComponent{
	background-color:var(--secondary-color);
	color:var(--primary-color);
	display:flex;
justify-content: space-between;
}



.platformInfoItem{
	margin:10px;
	padding:10px;
}

.LeftComponent{
	margin:10px;
    font-size: larger;
    font-weight: lighter;
}

.AffiliateInfo{
margin:10px;
}

.platformInfo{
margin:10px;
}

.LeaderboardInfo{
	display:flex;
	flex-direction:column;
	HEIGHT: FIT-CONTENT;
    WIDTH: FIT-CONTENT;
    margin: 20px;
    font-size: smaller;
}

.PrizeInfo{
	display:flex;
}

.PrizeInfoItem{
		display:flex;
		ALIGN-ITEMS: CENTER;
}

.table{
    min-width: 500;
    background-color:var(--secondary-color);
  }

.cell{
	color:var(--primary-color)
}