.root{
	    min-width: 300px;
	    max-width: 300px;
	    height: 400px;
	    margin:10px;
}

.content{
		height: 380px;
	    font-size: 0.7em;
	    color:var(--light-text);
	    background-color:var(--primary-color);
}

.intro{
margin: 1em;
    text-align: justify;
    font-size: 1.2em;
}





.title{
    margin: 30px 0px 45px 0px;
    font-size: 1.45em;
    font-weight: 570;
    color:var(--light-text);
    text-align: center;
}


.MiniPostFooter{

	background-color:#ffc107;
height: 20px;
    justify-content: flex-end;
}

.MiniPostFooter button{
			    font-size: 0.5em;
			    font-weight: 900;
}