.root{
	    min-width: 300px;
	    max-width: 300px;
	    min-height: 350px;
	    max-height: 350px;
	    margin:10px;
}

.title{
    fontSize: 20;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}