
.Navbar {
display:flex;
flex-direction:column;
width: 100%;
z-index:200;
}




.Navbar a{
background-color:var(--primary-color);
color:var(--secondary-color);
display:flex;
align-items:center;
justify-content:center;
height:50px;
font-weight:bold;
text-decoration:none;
text-transform:uppercase;
font-size: smaller;
transition: font-size 2s;

};

.Navbar a span{
transition: background-color 1.5s;
transition: color 1.5s;
}

.ShowNav{
height:100%;
}

.HideNav{
height:fit-content;
display:none;
transition: display 1s;
}

.Navbar ul li a:hover span{
text-decoration: underline;
padding:10px 50px 10px 50px;
background-color: var(--primary-color);
border: 2px solid var(--secondary-color);;
border-radius: 12px;
background-color:#d6d8dc;
};

.Navbar ul li a:hover {
border-bottom-style: none;
font-size: medium;
};

.Navbar li:hover .Dropdown1 li{
top:0;
display:block;
};


.Navbar ul li {
position:relative;
width:100%;
text-align:center;
};

.Dropdown1 ul li{
display:none;
position:relative;
};

.Dropdown1{
position:absolute;
display:flex;
flex-direction:column;
width:100%;
};


.Dropdown1 ul li:hover .Dropdown2 ul li{
display:block;
};

.Dropdown2 ul li{
display:none;
};

.Dropdown2{
display:flex;
flex-direction:column;
position:absolute;
top:0;
left:100%;
width:200px;
};

@media screen and (max-width: 768px) {

	.ExpandButton{
	font-size: 20px;
	display: flex;
    flex-direction: row-reverse;
	color: var(--secondary-color);
	background: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	}

	.Navbar ul {
	list-style: none;
	};

}


@media screen and (min-width: 768px) {

	.ExpandButton{
	display:none;
	}

	.Navbar ul {
	list-style: none;
	display:flex;
	};

	.Fixed {
	position:fixed;
	}


}
