

.InlineContainer {
	background-color: var(--primary-color);
  color:var(--secondary-color);
	display:flex;
	flex-direction:row;
	justify-content: space-between;
    align-items: center;
	max-height:30px;
};

.LanguageSelector{
};

.DarkMode{

};

