.ServicesContainer{
	display:flex;
	    flex-wrap: wrap;
	flex-direction:row;
    justify-content: center;
};

.ServiceItem{
	margin:20px;
	min-width: 345px;
}

.DataScrapping{
	flex:0.3;
}


.WebsiteDevelopment{
	flex:0.3;
}

.dAppDevelopment{
	flex:0.3;	
}


.LearnMore{
	display:flex;
	flex-direction:column;
	align-items: center;
	color:var(--primary-color);
}