

.SSS{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:1.5em;

}


.NavigationHelper{
  margin-top:10px;
  display: flex;
  justify-content: left;
  flex:0.4;
  background-color:var(--secondary-color);
}


.Item {
  width: fit-content;
  text-align: left;
  padding: 2px;
  color:var(--primary-color);
  font-size: small;
};
